/**
 * Error 404 (objects/_error-404.scss)
 */

/* ----- General ----- */
.error-404 {
  text-align: center;

  .align-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
  }
}

/* ----- Title ----- */
.error-404__title {
  font-weight: normal;
  font-size: $font-size-h3;
  margin-top: 0;

  @media (min-width: $screen-sm-min) {
    font-size: $font-size-h1;
  }
}
