@import url('https://fonts.googleapis.com/css?family=Special+Elite');

/* ----- General ----- */
//body {
//  background-image: url("https://64.media.tumblr.com/b72acb5a750c7b90182e9dd59923606a/tumblr_nnsqusldZ81tfdblio1_1280.jpg");
//  background-size: cover;
//  background-repeat: no-repeat;
//  background-position: top center;
//  background-attachment: fixed;
//  height: 100vh;
//}

/* ----- Images ----- */
figure {
  display: table;
  max-width: 45%;
  margin: 0.5em 0.5em 0.5em 1.5em;
  float: right;
}

img {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

figcaption {
  display: table-caption;
  caption-side: bottom;
  font-style: italic;
  text-align: center;
  line-height: 1.5rem;
  padding-top: 5px;
}

/* ----- Quotes ----- */
//blockquote {
//  line-height: 2.0;
//  border-left: 0;
//  position: relative;
//  margin: 3em 2em 1em 2em;
//  padding: .5rem;
//  font-family: 'Special Elite', cursive;
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//  justify-content: center;
//}
//
//blockquote:before,
//blockquote:after {
//  position: absolute;
//  color: #f1efe6;
//  font-size: 4rem;
//  width: 3rem;
//  height: 3rem;
//}
//
//blockquote:before {
//  content: '“';
//  left: -2rem;
//  top: -2rem;
//}
//
//blockquote:after {
//  content: '”';
//  right: -3.2rem;
//  bottom: 2rem;
//}
//
//cite {
//  line-height: 3;
//  text-align: left;
//}
