
/* ----- Images ----- */
figure {
  display: table;
  max-width: 45%;
  margin: 0.5em 0.5em 0.5em 1.5em;
  float: right;
}

img {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

figcaption {
  display: table-caption;
  caption-side: bottom;
  font-style: italic;
  text-align: center;
  line-height: 1.5rem;
  padding-top: 5px;
}

/* ----- Quotes ----- */
blockquote {
  ul {
    margin-bottom: 0;
  }
}
