/**
 * Hero subheader (components/_hero-subheader.scss)
 */

/* ----- General ----- */
.hero-subheader {
  color: $color-white;
  background-color: transparent;
  padding: 3.75rem 0 (4.6875rem - 1.25rem) 0;

  @media (min-width: $screen-sm-min) {
    padding: 9.375rem 0 (10.3125rem - 1.25rem) 0;
  }

  .btn {
    margin-right: .9375rem;
  }

  .btn--github,
  .btn--w-arrow-down {
    @extend .btn--dark;
  }

  .site-header + & {
    padding: 9.375rem 0 (4.6875rem - 1.25rem) 0;

    @media (min-width: $screen-sm-min) {
      padding: 10rem 0 7rem 0;
    }
  }
}

.hero-subheader--before-out {
  @media (min-width: $screen-sm-min) {
    padding: 9.375rem 0 (15.3125rem - 1.25rem) 0;
  }
}

.hero-subheader__container{
  border-radius: 25px;
  padding: 2em;
  background-color: $color-theme-dark;
}

/* ----- Title ----- */
.hero-subheader__title {
  text-shadow: 3px 3px $color-theme-dark;
  margin-top: 0;
}

/* ----- Title ----- */
.hero-subheader__desc {
  text-shadow: 2px 2px $color-theme-dark;
  margin-bottom: 1.875rem;
}

/* ----- Author ----- */
.hero-subheader__author {
  border-left: 2px solid;
  padding-left: 2.5rem;

  .btn {
    margin-bottom: 0;
  }
}

.hero-subheader__author-title {
  font-size: $font-size-h5;
}

/* ----- More ----- */
.hero-subheader__btn-more {
  color: inherit;
}
